a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: white;
}

a:hover, a:active {
    color: black;
}

mat-nav-list{
    background-color: dodgerblue;
    padding-bottom: height;
    height: 100%;
}