<body>
<div class="nostyle"></div>
<mat-card class="div-flex">
<div>
        <mat-card-header>
            <mat-card-title>Elérhetőségek</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <mat-icon>call</mat-icon><p>+36 30 123 4567</p>
            <mat-icon>email</mat-icon><p>virtualprojectmanager@gmail.com</p>
            <mat-icon>grade</mat-icon><img src = "assets/logo.png" alt = "logo" title="logo" class="logo" />
        </mat-card-content>
</div>
</mat-card>
<footer></footer>
</body>