<div>
    <h1>Üdvözöl a Virtual Project Manager!</h1>
</div>
<div>
    <p> 
        Itt egy új lehetőség kis-és középvállalatok számára.
    <br/>A cég projektmenedzsmenttel kapcsolatos feladatainak 
        végrehajtására könnyen és átláthatóan, mely lecsökkenti 
        az ilyen jellegű papíros ügyintézések időtartamát.
    <br/>Próbálja ki teljesen <b>ingyen!</b>
    </p>
</div>
<div>
    <h3>Fedezd fel az alkalmazásban rejlő lehetőségetek</h3>
    <table>
        <tr>
            Információk megosztása
            <td>
                Ha mindenki érti a projektcélokat, könnyebb a résztvevők irányítása, 
                a megfelelő, ezen kívül effektív munkavégzés biztosítása. 
                Nem pusztán a „megértés”, hanem az konszenzus is releváns. 
                Ha mindenki akceptálja a projektcélokat, a későbbi konfliktushelyzetek 
                megfelelő szegmense eleve kiküszöbölhető.
            </td>
        </tr>
        <br/>
        <tr>
            Könnyű kezelés
            <td>
                Átlátható kezelőfelület, egyszerű műveletek, gyors megértés.
            </td>
        </tr>
        <br/>
        <tr>
            Feladatok, Mérföldkövek
            <td>
                Feladatainkan, teendőinket mérföldkövekbe rendezhetjük, 
                a nagyobb átláthatóság, könnyebb követés érdekében.
                Ezek lezárására, újranyitásásra, archiválására is lehetőség nyílik.
            </td>
        </tr>
    </table>
</div>
<br/>
<div>
    <form class="registrationForm">
            <label>E-mail cím: </label>
            <input class="email" type="email" required>
            <input class="registration"type="submit" value="Regisztrálok!">
    </form>
</div>
<table class="img_table">
    <td>
        <img id="main_img1" src="assets/main_page1.jpg" alt="main_img1">
    </td>
    <td>
    <img id="main_img3" src="assets/main_page3.jpg" alt="main_img3">
    </td>
    <td>
    <img id="main_img2" src="assets/main_page2.jpg" alt="main_img2">
    </td>
</table>