body {
    background-color: lightblue;
    display : flex;
    flex-direction : row;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

html, body {
    background-color: lightblue;
}

.mat-tyography {
    background-color: #020C18;
}

table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid;
    border-color: #262C7B;
    border-radius: 10px;
    padding: 5px;
    word-wrap: break-word;
    border-collapse: separate !important;
}

.registrationForm {
    border: 2px solid;
    border-radius: 4px;
    border-color: #262C7B;
    border-radius: 10px;
    width: 60%;
    margin: auto;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: lightblue;
    color: #020C18;
}

td {
    padding-left: 25px;
    padding-right: 15px;
    text-align: justify;
}

.nopadding {
    padding-left: 0px;
}

button {
    font-size: 26px;
    padding: 10px;
    margin-bottom: 10px;
}

footer {
    background-color: #020C18;
    height: 82px;
    border: medium solid #262C7B;
    border-radius: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-top: 0px;
}

#main_img1 {
    border: 1px solid #262C7B;
    border-radius: 300px;
    max-height: 280px;
    width: 90%;
    float: left;
}

#main_img2 {
    border: 1px solid #262C7B;
    border-radius: 300px;
    width: 100%;
    max-height: 252px;
    float: right;
    
}


.img-flex{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 60%;
    padding-top: 8px;
    margin-top: 20px;
    justify-content: center;
    border: 0px;
}

.asideimg {
    width: 100%;
    z-index: 1;
    height: inherit;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.first {
    height: 200px;
}

h1 {
    padding-top: 10px;
}

aside {
    width: 30%;
    float: right;
    background-color: #020C18;
    border: medium solid #262C7B;
    border-radius: 10px;
    height: inherit;
    text-align: center;
    position: relative;

}

section {
    width: 100%;
    float: left;
    background-color:#020C18;
    border: medium solid #262C7B;
    border-radius: 10px;
    font-size: 18px;
    margin-right: -100px;
    height: inherit;
    text-align: center;
    color: white;
}

.asidetext {
    color: white;
    font-size: 23px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    padding-left: 30px;
    padding-top: 50px;
}